{{ define "main" }}
<section>
  <div class="row">
    <main class="col-lg-8">
      <div id="content">
        {{ .Content }}
      </div>
      <section>
        {{ if .Data.Terms }}
          {{ range .Data.Terms.Alphabetical }}
          <article>
              <h2><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></h2>
          </article>
          {{ end }}
        {{ else }}
          {{ range .Paginator.Pages }}
          <article>
            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            <p>{{ with .Params.excerpt }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ end }}{{ end }}</p>
          </article>
          {{ end }}
        {{ end }}
      </section>
      {{- template "_internal/pagination.html" . -}}
    </main>

    <aside class="col-lg-4">
      {{- partial "recent-post-list" . -}}
      {{ if not .Data.Terms }}
        {{- partial "categories" . -}}
      {{ end }}
    </aside><!-- /.col-lg-4 -->

  </div><!-- /.row -->
</section>
{{ end }}