{{ define "main" }}
<section>
  <div class="row">
    <main class="col-lg-8">
      <h2>{{ .Title }}</h2>
      <div id="content">
        {{ .Content }}
      </div>
      <section>
        {{ if .Data.Terms }}
          {{ range .Data.Terms.Alphabetical }}
          <article>
              <h3><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></h3>
          </article>
          {{ end }}
        {{ else }}
          {{ range .Paginator.Pages }}
            {{- partial "post-summary-article.html" . }}
          {{ end }}
        {{ end }}
      </section>
      {{- template "_internal/pagination.html" . -}}
    </main>

    <aside class="col-lg-4">
      {{- partial "recent-post-list.html" . -}}
      {{- partial "blog-tags.html" . -}}
      {{ if not .Data.Terms }}
        {{- partial "blog-categories.html" . -}}
      {{ end }}
      {{- partial "blog-archives.html" . -}}
    </aside><!-- /.col-lg-4 -->

  </div><!-- /.row -->
</section>
{{ end }}