body {
  background: url(/img/bg-body-50x50.gif) repeat scroll left top transparent;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

aside {
  margin-bottom: 1.5rem;
}

ol > li > ol > li {
  list-style: lower-alpha;
}

ol > li > ol > li > ol > li {
  list-style: lower-roman;
}

.main-footer-wrapper {
  background-color: #fff;
  border-radius: 0 0 1rem 1rem;
  padding: 0.5rem;
}
