// Do not apply the following rules to "cards within cards" (e.g. "Archives")
aside > .card {
  border: 1px solid #77c856;
  border-radius: 0 0 1rem 1rem;
  margin-bottom: 1em; // add spacing between cards in sidebar
}

.card {
  .list-group h3 {
    margin: 0;
  }

  .list-group-item {
    padding: 0.75rem 0.75rem;
  }

  .tag-cloud {
    padding: 0.5rem;
  }
}

.card > .list-group:last-child {
  border-bottom-right-radius: calc(1rem - 1px);
  border-bottom-left-radius: calc(1rem - 1px);
}

.card-header:first-child {
  border-radius: 0; // do not round top-left and top-right corners
}
