.carousel {
  box-shadow: 0 1px 5px 0 $dark;

  h3 {
    border-bottom-style: dotted;
    color: $white;
    margin: 0.5rem 0 1rem;
  }

  /*
    Use a large right margin to avoid issues where caption text can run right up
    next to the "Learn more" button
  */
  p {
    margin-right: 9rem;
  }
  p.float-end {
    margin-right: 0;
  }
}
