// User input typically entered via keyboard
kbd {
  background-color: $secondary;
}

// Blocks of code, console blocks, and excerpts from various logs
pre,
.consoleBlock,
.logExcerpt {
  background-color: $light;
  border: 1px solid $secondary;
  cursor: text;
  margin: 1rem 0.25rem;
  padding: 1rem;
}

/* TODO: Remove this (where necessary, use "pre-scrollable" instead)
pre,
.consoleBlock {
  max-height: 15rem;
  overflow: auto;
}
*/

.consoleBlock.small {
  max-width: 39rem;
}

.consoleBlock {
  p {
    /*
      Add hanging indent for paragraphs in console blocks. This makes it easier
      to identify long commands that wrap across multiple lines due to device
      width constraints.
    */
    padding-left: 2rem;
    text-indent: -2rem;
  }

  p:last-child {
    margin-bottom: 0;
  }

  samp p {
    /*
      Remove hanging indent for <samp> paragraphs (to match how program output
      actually appears on-screen)
    */
    padding-left: inherit;
    text-indent: inherit;
  }
}
