// User input typically entered via keyboard
kbd {
  background-color: $secondary;
}

// Blocks of code, console blocks, and excerpts from various logs
pre,
.consoleBlock,
.logExcerpt,
.sampleOutput {
  background-color: $light;
  border: 1px solid $secondary;
  cursor: text;
  margin: 1rem 0.25rem;
  padding: 1rem;
}

pre,
.consoleBlock,
.logExcerpt {
  max-height: 20rem;
  overflow: auto;
}

.consoleBlock.small {
  max-width: 39rem;
}

.consoleBlock {
  p {
    /*
      Add hanging indent for paragraphs in console blocks. This makes it easier
      to identify long commands that wrap across multiple lines due to device
      width constraints.
    */
    padding-left: 2rem;
    text-indent: -2rem;
  }

  p:last-child {
    margin-bottom: 0;
  }

  /*
    Format <pre> element in console block, for example:

    /blog/jjameson/2009/01/15/sharepoint-configuration-wizard-hangs-with-ipv6-address/
  */
  pre {
    margin: 0;
    padding: 0;
    border: none;
  }

  samp p {
    /*
      Remove hanging indent for <samp> paragraphs (to match how program output
      actually appears on-screen)
    */
    padding-left: inherit;
    text-indent: inherit;
  }

  .sampleOutput {
    /*
      Remove border, margin, and padding from sample output in console blocks
    */
    border: none;
    margin: 0;
    padding: 0;
  }
}
