.navbar a {
  font-size: 1.25rem;
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link {
  color: $link-color;
}

a.navbar-brand {
  max-width: 200px;
}

@media (min-width: 576px) {
  a.navbar-brand {
    max-width: 220px;
  }
}
