h1 {
  background: #77c856 url(/img/bg-h1-accent1-1000x150.png) no-repeat;
  color: #fff;
  margin-bottom: 0;
  padding: 0.5rem 0.5rem 0.6rem 0.5rem;
}

h2 {
  border-bottom: 1px solid $accent-border-color;
  color: $primary;
  font-size: $h3-font-size; // decrease font size since we are adding a border
  margin: 0.75rem 0 0.25rem 0;
  padding-bottom: 0.25rem;
}

h3 {
  border-bottom: 1px solid $accent-border-color;
  color: $primary;
  font-size: $h4-font-size; // decrease font size since we are adding a border
  margin: 1rem 0 0 0;
  padding-bottom: 0.25rem;
}

// Blockquotes
blockquote {
  background: $blockquote-bg-color;
  border-left: 0.5rem solid $blockquote-border-color;
  margin: 1rem 0 1rem 1rem;
  padding: 1em 1rem 0.3rem 1rem;
}
