// Use child combinator (>) on <h1> elements to avoid formatting issues in
// blog post comments (https://github.com/technology-toolbox/website/issues/88)
header > h1 {
  background: #77c856 url(/img/bg-h1-accent1-1000x150.png) no-repeat;
  color: #fff;
  margin-bottom: 0;
  padding: 0.5rem 0.5rem 0.6rem 0.5rem;
}

h2 {
  border-bottom: 1px solid $accent1-color;
  color: $primary;
  font-size: $h3-font-size; // decrease font size since we are adding a border
  margin: 0.75rem 0 0.25rem 0;
  padding-bottom: 0.25rem;
}

h2.card-header {
  background-color: $accent2-color;
  background-image: linear-gradient(
    180deg,
    $accent2-dark-color,
    $accent2-color
  );
  color: $white;
  font-size: $h4-font-size; // decrease size even further (card header color)
  margin: 0; // override margin to avoid whitespace in card-header
  padding: 0.6rem 0.75rem;
}

h3 {
  border-bottom: 1px solid $accent1-color;
  color: $primary;
  font-size: $h4-font-size; // decrease font size since we are adding a border
  margin: 1rem 0 0 0;
  padding-bottom: 0.25rem;
}

// Blockquotes
blockquote {
  background: $blockquote-bg-color;
  border-left: 0.5rem solid $blockquote-border-color;
  margin: 1rem 0 1rem 1rem;
  padding: 1em 1rem 0.3rem 1rem;
}

.note blockquote {
  background-color: rgba($blockquote-bg-color, 0.3);
  border: 0.1rem solid $blockquote-border-color;
  border-left-width: 0.5rem;
}

.important blockquote {
  background-color: rgba($blockquote-bg-color, 0.7);
  border: 0.1rem solid $primary;
  border-left-width: 0.5rem;
}

.update blockquote {
  background-color: rgba($accent2-color, 0.1);
  border: 0.1rem solid rgba($accent2-color, 0.7);
  border-left-width: 0.5rem;

  /*
    Format nested blockquote, for example:

    /blog/jjameson/2009/01/15/sharepoint-configuration-wizard-hangs-with-ipv6-address/
  */
  blockquote {
    background-color: $blockquote-bg-color;
    border: none;
    border-left: 0.5rem solid $blockquote-border-color;
  }
}

.errorMessage blockquote {
  background-color: rgba($danger, 0.2);
  border: 0.1rem solid $danger;
  border-left-width: 0.5rem;
}

.errorMessage blockquote {
  font-style: italic;
}

.warning blockquote {
  background-color: rgba($warning, 0.2);
  border: 0.1rem solid $warning;
  border-left-width: 0.5rem;
}

figcaption {
  font-weight: bold;
}

// "Conversation"
//
// Example:
// https://www.technologytoolbox.com/blog/jjameson/2009/03/31/updated-thoughts-on-wspbuilder
.conversation {
  ol {
    li {
      list-style: none;

      cite {
        color: $primary;
        font-weight: 500;
      }
    }
  }
}

// Bootstrap icons (rendered using inline SVG)
.svg-icon {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
}

// HACK: Switching from Bootstrap icon font to inline SVG results in the Twitter
// and GitHub icons no longer aligning with the middle of the corresponding
// text in the navigation items (i.e. the centers of the icons are a few pixels
// below the middle of the text). Add a bottom margin to force the icons to
// align vertically in the middle (since "vertical-align: middle;" doesn't quite
// work as expected).
.nav-item svg.svg-icon {
  margin-bottom: 4px;
}
