{{ define "main" }}
<section>
  <div class="row">
    <main class="col-lg-8">
      {{ $isBlogHomePage := false }}
      {{ with .File }}{{ $isBlogHomePage = (eq .Dir "blog\\jjameson\\") }}{{ end }}
      {{ if $isBlogHomePage }}
      <h2>Most Recent Posts</h2>
      {{ else }}
      <h2>{{ .Title }}</h2>
      {{ end }}
      <div id="content">
        {{ .Content }}
      </div>
      <section>
        {{ range (.Paginate .RegularPagesRecursive).Pages }}
          {{- partial "post-summary-article.html" . }}
        {{ end }}
      </section>
      {{- template "_internal/pagination.html" . -}}
    </main>

    <aside class="col-lg-4">
      {{ if not $isBlogHomePage }}
      {{- partial "recent-post-list.html" . -}}
      {{ end }}
      {{- partial "blog-tags.html" . -}}
      {{- partial "blog-categories.html" . -}}
      {{- partial "blog-archives.html" . -}}
    </aside><!-- /.col-lg-4 -->

  </div><!-- /.row -->
</section>
{{ end }}