{{ define "main" }}
<section>
  <div class="row">
    <main class="col-lg-8">
      {{ $paginator := .Paginate .RegularPagesRecursive }}
      {{ $isBlogHomePage := false }}
      {{ with .File }}{{ $isBlogHomePage = (eq .Dir "blog\\jjameson\\") }}{{ end }}
      {{ if $isBlogHomePage }}
        {{ if eq $paginator.PageNumber 1 }}
          <h2>Most Recent Posts</h2>
        {{ else }}
          {{ $firstPost := add (mul (sub $paginator.PageNumber 1) $paginator.PageSize) 1 }}
          {{ $lastPost := sub (add $firstPost $paginator.NumberOfElements) 1 }}
          <h2>Older Posts ({{ $firstPost }} - {{ $lastPost }})</h2>
        {{ end }}
      {{ else }}
      <h2>{{ .Title }}</h2>
      {{ end }}
      <div id="content">
        {{ .Content }}
      </div>
      <section>
        {{ range $paginator.Pages }}
          {{- partial "post-summary-article.html" . }}
        {{ end }}
      </section>
      {{- partial "pagination.html" . -}}
    </main>

    <aside class="col-lg-4">
      {{ if not $isBlogHomePage }}
      {{- partial "recent-post-list.html" . -}}
      {{ end }}
      {{- partial "blog-tags.html" . -}}
      {{- partial "blog-categories.html" . -}}
      {{- partial "blog-archives.html" . -}}
    </aside><!-- /.col-lg-4 -->

  </div><!-- /.row -->
</section>
{{ end }}