{{ define "body-class" }}container-xl{{end}}
{{- define "header" -}}
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img
          alt="Technology Toolbox logo"
          src="/img/Technology-Toolbox-Logo-220x50.png"
        />
      </a>
    </div>
  </nav>

  {{- partial "draft-banner.html" . -}}
</header>
{{- end -}} {{ define "main" }}
<main>
  <section class="row">
    <article id="content">{{ .Content }}</article>
  </section>
</main>
{{ end }}
