{{ define "main" }}
<section>
  <div class="row">

    <main class="col-lg-8">
      <h2><i class="bi bi-file-earmark-text"></i> {{ .Title }}</h2>
      {{ partial "post-info.html" . }}
      <article id="content">
        {{ partial "msdn-blog-post-info.html" . }}
        {{ .Content }}
      </article>
      {{ partial "post-tags.html" . }}
      {{ partial "post-attachment.html" . }}
      {{ partial "post-navigation.html" . }}

      <h3>Comments</h3>
      {{ partial "commento.html" . }}
      <hr class="d-sm-none" />
    </main>

    <aside class="col-lg-4">
      {{ partial "recent-post-list.html" . }}
      {{ partial "blog-tags.html" . }}
      {{ partial "blog-categories.html" . }}
      {{ partial "blog-archives.html" . }}
    </aside><!-- /.col-lg-4 -->

  </div><!-- /.row -->
</section>
{{ end }}