{{ define "main" }}
<section>
  <div class="row">
    <main class="col-lg-8">
      <h2>{{ .Title }}</h2>

      {{- partial "post-info" . -}}

      <article id="content">
        {{ .Content }}
      </article>

      {{- partial "post-tags" . -}}
      {{- partial "post-navigation" . -}}
    </main>

    <aside class="col-lg-4">
      {{- partial "recent-post-list" . -}}
      {{- partial "blog-tags" . -}}
      {{- partial "blog-categories" . -}}
      {{- partial "blog-archives" . -}}
    </aside><!-- /.col-lg-4 -->

  </div><!-- /.row -->
</section>
{{ end }}