{{ define "main" }}
<main class="container">
    <h1>{{ .Title }}</h1>
    <div id="content">
        {{ .Content }}
    </div>
    <section>
        {{ range .Paginator.Pages.ByPublishDate.Reverse }}
        <article>
            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            <p>{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ end }}{{ end }}</p>
        </article>
        {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
</main>
{{ end }}