{{ define "main" }}
<section>
  <div class="row">
    <main class="col-lg-8">
      <h2>{{ .Title }}</h2>
      <div id="content">
        {{ .Content }}
      </div>
      <section>
        {{ if .Data.Terms }}
          {{ $sortedTerms := slice }}
          {{ range .Data.Terms.Alphabetical}}
            {{ $sortedTerms = $sortedTerms | append .Page }}
          {{ end }}

          <ul class="list-group">
          {{ range (.Paginate $sortedTerms).Pages }}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a class="text-decoration-none" href="{{ .Page.Permalink }}">
                {{ partial "svg-icon" "tag" }} {{ .Page.Title }}
              </a>
              <span class="badge bg-primary rounded-pill">{{ len .Pages }}</span>
            </li>
          {{ end }}
          </ul>
        {{ else }}
          <p>There
            {{ if eq .Paginator.TotalNumberOfElements 1 }} is {{ else }} are {{ end }}
            {{ .Paginator.TotalNumberOfElements }}
            {{ if eq .Paginator.TotalNumberOfElements 1 }} entry {{ else }} entries {{ end }}
            for the tag <em>{{ .Title }}</em>.</p>
          {{ range .Paginator.Pages }}
            {{- partial "post-summary-article" . -}}
          {{ end }}
        {{ end }}
      </section>
      {{- partial "pagination.html" . -}}
    </main>

    <aside class="col-lg-4">
      {{- partial "recent-post-list.html" . -}}
      {{- partial "blog-tags.html" . -}}
      {{- partial "blog-categories.html" . -}}
      {{- partial "blog-archives.html" . -}}
    </aside><!-- /.col-lg-4 -->

  </div><!-- /.row -->
</section>
{{ end }}