{{ define "main" }}
<section>
  <div class="row">
    <main class="col-lg-8">
      <h2>{{ .Title }}</h2>
      <div id="content">
        {{ .Content }}
      </div>
      <section>
        {{ if .Data.Terms }}
          {{ $sortedTerms := slice }}
          {{ range .Data.Terms.Alphabetical}}
            {{ $sortedTerms = $sortedTerms | append .Page }}
          {{ end }}
          {{ range (.Paginate $sortedTerms).Pages }}
          <article>
              <h3><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></h3>
          </article>
          {{ end }}
        {{ else }}
          <p>There
            {{ if eq .Paginator.TotalNumberOfElements 1 }} is {{ else }} are {{ end }}
            {{ .Paginator.TotalNumberOfElements }}
            {{ if eq .Paginator.TotalNumberOfElements 1 }} entry {{ else }} entries {{ end }}
            for the tag <em>{{ .Title }}</em>.</p>
          {{ range .Paginator.Pages }}
            {{- partial "post-summary-article" . -}}
          {{ end }}
        {{ end }}
      </section>
      {{- template "_internal/pagination.html" . -}}
    </main>

    <aside class="col-lg-4">
      {{- partial "recent-post-list" . -}}
      {{- partial "blog-categories" . -}}
    </aside><!-- /.col-lg-4 -->

  </div><!-- /.row -->
</section>
{{ end }}