<div class="card">
  <h2 class="card-header">Archives</h2>
  <div class="card-body">
  <nav class="blog-archives-links" aria-label="Blog archives navigation">
    <ul class="list-unstyled mb-0 py-3 pt-md-1">
      {{ range (where .Site.RegularPages.ByPublishDate "Section" "blog").GroupByPublishDate "2006" }}
      {{- $year := .Key -}}
      {{- $collapseId := printf "blog-archives-collapse-%s" $year -}}
      <li class="mb-1">
          <button class="btn d-inline-flex align-items-center rounded collapsed"
            data-bs-toggle="collapse" data-bs-target="#{{ $collapseId }}"
            aria-expanded="false">
            {{ $year }}
          </button>

          <div class="collapse" id="{{ $collapseId }}">
            <ul class="list-group-flush">
              {{ range .Pages.GroupByPublishDate "January" }}
              {{- $page := index (first 1 .Pages) 0 -}}
              {{- $month := $page.PublishDate.Format "01" -}}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/blog/jjameson/{{ $year }}/{{ $month }}">{{ .Key }}</a>
                <span class="badge bg-secondary rounded-pill">{{ len .Pages }}</span>
              </li>
              {{ end }}
            </ul>
          </div>
      </li>
      {{ end }}
    </ul>
  </nav>
</div>