<header>
  {{- partial "navbar.html" . -}}

  {{- if not .IsHome -}}
    {{- $blogSections := slice "blog" "categories" "tags" -}}
    {{- if in $blogSections .Section -}}
      {{- $blogHomePage := .Site.GetPage "section" "blog/jjameson" -}}
      <h1>{{ $blogHomePage.Title }}</h1>
    {{- else -}}
      <h1>{{ .Title }}</h1>
    {{- end -}}

    {{- if in $blogSections .Section -}}
      {{- partial "blog-breadcrumb.html" . -}}
    {{- else -}}
      {{- partial "breadcrumb.html" . -}}
    {{- end -}}
  {{- end -}}
</header>
