<head>
    <meta charset="utf-8">
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{end }}{{ end }} ">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{{ if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end }}{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-48x48.png" sizes="48x48">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">

    {{- partial "stylesheet" . -}}

    {{ range .Page.Params.extra_css }}
    {{ "<!-- Custom styles for this template -->" | safeHTML }}
    <link href="{{ . }}" rel="stylesheet">
    {{- end }}
</head>