<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img alt="Technology Toolbox logo"
        srcset="/img/Technology-Toolbox-Logo-400x90.png 400w"
        sizes="(max-width: 575px) 200px,
          220px"
        src="/img/Technology-Toolbox-Logo-400x90.png">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        {{ range .Site.Menus.main }}
        <li class="nav-item">
          <a class="nav-link" href="{{ .URL }}">
            {{- .Pre -}}
            <span>{{ .Name }}</span>
            {{- .Post -}}
          </a>
        </li>
        {{ end }}
      </ul>
      <ul class="navbar-nav me-end mb-2 mb-lg-0">
        {{ with .Site.Social.twitter }}
        <li class="nav-item me-lg-1 ms-lg-1">
          <a class="nav-link" href="https://twitter.com/{{ . }}"
            rel="noopener" target="_blank" title="Follow on Twitter">
            {{ partial "svg-icon" "twitter" }}&nbsp;
            <span class="d-lg-none">Twitter</span>
          </a>
        </li>
        {{ end }}
        {{ with .Site.Social.github }}
        <li class="nav-item me-lg-1 ms-lg-1">
          <a class="nav-link" href="https://github.com/{{ . }}"
            rel="noopener" target="_blank" title="Follow on GitHub">
            {{ partial "svg-icon" "github" }}&nbsp;
            <span class="d-lg-none">GitHub</span>
          </a>
        </li>
        {{ end }}
      </ul>
      {{ if not (hasPrefix .File.Dir "search") }}
        <form class="d-flex" action="/search/" method="GET">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
          <button class="btn btn-outline-primary" type="submit" aria-label="Search">
            {{ partial "svg-icon" "search" }}
          </button>
        </form>
      {{ end }}
    </div>
  </div>
</nav>
