{{- $nextPost := default nil -}}
{{- $previousPost := default nil -}}
<!-- Use .Next and .Prev whenever possible -->
{{- with .Next -}}
    {{- if and (eq .Section "blog") (ne .Params.layout "popout") -}}
        {{- $nextPost = . -}}
    {{- end -}}
{{- end -}}
{{- with .Prev -}}
{{- if and (eq .Section "blog") (ne .Params.layout "popout") -}}
        {{- $previousPost = . -}}
    {{- end -}}
{{- end -}}
<!--
    If "next" or "previous" post is not set (e.g. because .Next or .Prev is not
    a blog post), then try to find "next" and "previous" posts by iterating
    through all blog posts
-->
{{- if or (not $nextPost) (not $previousPost) -}}
    {{- $foundCurrentPost := false -}}
    {{- range where (where .Site.Pages "Section" "blog") ".Params.layout" "!=" "popout" -}}
        {{- if eq .Permalink $.Permalink -}}
            {{- $foundCurrentPost = true -}}
        {{- else if or (.IsPage) (eq .Params.layout "single") -}} <!-- ignore section pages -->
            {{- if not $foundCurrentPost -}}
                {{- $nextPost = . -}}
            {{- else if not $previousPost -}}
                {{- $previousPost = . -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
{{- if or $nextPost $previousPost -}}
<h3>Other Posts</h3>
<ul class="nav flex-column">
    {{ with $nextPost }}
    <li class="nav-item">
        <a class="nav-link" href="{{ .RelPermalink }}">
            <i class="bi bi-arrow-right-circle"></i>
            {{ .Title }}
            <span class="badge bg-secondary">Next</span>
        </a>
    </li>
    {{ end }}
    {{ with $previousPost }}
    <li class="nav-item">
        <a class="nav-link" href="{{ .RelPermalink }}">
            <i class="bi bi-arrow-left-circle"></i>
            {{ .Title }}
            <span class="badge bg-secondary">Previous</span>
        </a>
    </li>
    {{ end }}
</ul>
{{- end -}}