<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{- partial "head.html" . -}}
  <body class="container-md">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img alt="Technology Toolbox logo"
                src="/img/Technology-Toolbox-Logo-220x50.png"
                width="220" height="50">
          </a>
        </div>
      </nav>
    </header>
    <div class="main-footer-wrapper">
      <main>
        <section class="row">
          <article id="content" class="col-lg-8">
            <h2>HTTP 404 (That's an error)</h2>
            <p>The requested URL was not found on this server.</p>
            <p>Please review the URL and make sure that it is spelled correctly.</p>
          </article>
          <aside class="col-lg-4 d-none d-sm-none d-md-none d-lg-block">
              <img alt="Large icon with Do Not Enter symbol" class="img-fluid"
                  src="/img/icon-do-not-enter-347x346.jpg">
          </aside>
        </section>
      </main>
    </div>
  </body>
</html>